# AI Services URLs
VITE_TEXT_SERVICE_URL=http://localhost:8006
VITE_VISION_SERVICE_URL=http://localhost:8000
VITE_SPEECH_SERVICE_URL=http://localhost:8013
VITE_RAG_SERVICE_URL=http://localhost:8010
VITE_AI_AGENTS_URL=http://localhost:8003
